.icon {
    cursor: pointer;
    display: inline-block;
} 

.icon_food {
    background-image: url("/pages/main/src/img/icons/icon-pet-food.svg");
    width: 60px;
    height: 60px;
}

.icon_transportation {
    background-image: url("/pages/main/src/img/icons/icon-transportation.svg");
    width: 60px;
    height: 60px;
}

.icon_toys {
    background-image: url("/pages/main/src/img/icons/icon-toys.svg");
    width: 60px;
    height: 60px;
}

.icon_bowls {
    background-image: url("/pages/main/src/img/icons/icon-bowls-and-cups.svg");
    width: 60px;
    height: 60px;
}

.icon_shampoos {
    background-image: url("/pages/main/src/img/icons/icon-shampoos.svg");
    width: 60px;
    height: 60px;
}

.icon_vitamins {
    background-image: url("/pages/main/src/img/icons/icon-vitamins.svg");
    width: 60px;
    height: 60px;
}

.icon_medicines {
    background-image: url("/pages/main/src/img/icons/icon-medicines.svg");
    width: 60px;
    height: 60px;
}

.icon_collars {
    background-image: url("/pages/main/src/img/icons/icon-collars-leashes.svg");
    width: 60px;
    height: 60px;
}

.icon_sleeping {
    background-image: url("/pages/main/src/img/icons/icon-sleeping-area.svg");
    width: 60px;
    height: 60px;
}

.icon_clock {
    background-image: url("../img/icons/clock.svg");
    width: 15px;
    height: 17px;
}

.icon_phone {
    background-image: url("../img/icons/phone.svg");
    width: 13px;
    height: 13px;
}

.icon_letter {
    background-image: url("../img/icons/letter.svg");
    width: 11px;
    height: 8px;
}