.icon {
    cursor: pointer;
    display: inline-block;
} 

.icon_food {
    background-image: url("../img/icons/icon-pet-food.svg");
    width: 60px;
    height: 60px;
}

.icon_transportation {
    background-image: url("../img/icons/icon-transportation.svg");
    width: 60px;
    height: 60px;
}

.icon_toys {
    background-image: url("../img/icons/icon-toys.svg");
    width: 60px;
    height: 60px;
}

.icon_bowls {
    background-image: url("../img/icons/icon-bowls-and-cups.svg");
    width: 60px;
    height: 60px;
}

.icon_shampoos {
    background-image: url("../img/icons/icon-shampoos.svg");
    width: 60px;
    height: 60px;
}

.icon_vitamins {
    background-image: url("../img/icons/icon-vitamins.svg");
    width: 60px;
    height: 60px;
}

.icon_medicines {
    background-image: url("../img/icons/icon-medicines.svg");
    width: 60px;
    height: 60px;
}

.icon_collars {
    background-image: url("../img/icons/icon-collars-leashes.svg");
    width: 60px;
    height: 60px;
}

.icon_sleeping {
    background-image: url("../img/icons/icon-sleeping-area.svg");
    width: 60px;
    height: 60px;
}
 