.start { 
    background-image: url("/pages/main/src/img/start/start-screen-gradient-background.svg"); 
}

.start__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-mobile {
        flex-direction: column-reverse;
    }
}